*{
    margin: 0;
    padding: 0;
    font-family: "Audiowide", sans-serif;
}

body{
    background-color: #180335;
    color: #c5b1f9;
   height: 100%;
}

#welcome {
    position: relative; 
  }
  
  .video-background {
    box-shadow: 5px 15px 19px 3px #000000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  
  #background-video {
    object-fit: cover; 
    width: 100%;
    height: 100vh;
  }
  

#hello {
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center; 
  height: 100vh; 
  text-align: center;
  color: white; 
  z-index: 1; 
}

#hello h1 {
  font-size: 5rem; 
  white-space: nowrap; 
  margin: 0; 
}


.typing-effect {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  border-right: 4px solid white; 
  width: 0; 
  animation: typing 3s steps(30) 1s forwards, blink 0.75s step-end infinite; 
}


@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}


@keyframes blink {
  50% {
    border-color: transparent;
  }
}


.typing-effect-welcome {
  display: block;
  opacity: 0; 
  animation: fadeIn 2s 4s forwards; 
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


@media screen and (max-width: 768px){
  #background-video {
     height: 50vh;
  }
    #hello{
      height: 50vh;

    }
    .typing-effect {
      border-right: none;
      animation: fadeIn 3s forwards; 
      } 
    }
    @keyframes fadeIn {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
   
    #about_me h2{
      font-size: 4rem;
      margin: 6rem;
      text-decoration: underline;
      color: white
    } 
   
    #student{
      font-size: 3rem;
      margin: 6rem;
      opacity: 0;
      transform: translateY(20px);
      transition: opacity 1s ease, transform 1s ease;
    }

   #student.visible {
      opacity: 1;
      transform: translateY(0);
  } 
.info_header{
  font-size: 2rem;
  color: white;
} 

#info{
  display: flex;
  justify-content: center;
  gap: 20px;
  background-image: url(updatedportfolioassets/video\ games.jpg);
  box-shadow: 5px 15px 19px 3px #000000;
  padding: 10rem;
  
}

#info li{
  font-size: 1.3rem;
}

.game-image{
  height: 200px;
  margin-left: 1rem;

}

.game-image:hover{
  height: 250px;
}

#games{
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  margin-left: 2rem;
} 

@media screen and (max-width: 786px){
  #info{
    display: flex;
    flex-direction: column;
  }
}

#education_and_skills h2{
  font-size: 4rem;
  margin: 6rem;
  text-decoration: underline;
  color: white
} 

#education_and_skills li{
  font-size: 1.3rem;
  
} 

#education_and_skills{
  text-align: center;
}

#skills{
  margin-top: 2rem;
  margin-bottom: 3rem;
}

#icons{
  font-size: 50px;
  margin-bottom: 3rem;
 
}

i{
  margin: 1rem;
  color: white;
}

i:hover{
  animation: shake 0.5s ease;
}

@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-10px); }
  50% { transform: translateX(10px); }
  75% { transform: translateX(-10px); }
  100% { transform: translateX(0); }
}

button{
 box-shadow: 5px -1px 20px 3px #000000;
  background-color: rgba(209, 201, 201, 0);
  color: white;
  font-size: 2rem;
  border-radius: 1rem;
  border-width: 0.2rem;
  border-color: #c5b1f9;
  padding: 0.7rem;
}

button:hover{
  background-color: #c5b1f9;
} 

#projects h2{
  font-size: 4rem;
  margin: 6rem;
  text-decoration: underline;
  color: white
} 

#projects-row img{
  width: 500px;
 

} 

#projects-row{
  display: flex;
  margin: 1rem;
  text-align: center;
  text-wrap: pretty;
  font-size: 1.4rem;
 }

#projects-row button{
margin-top: 3rem;
} 


@media screen and (max-width: 786px){
#education_and_skills{
 text-align: center;
}
  i{
   display: flex;
   flex-direction: column;
   margin: 4rem;
  }

  #projects-row{
    display: flex;
    flex-direction: column;
 
  }
  #projects img{
    width: 275px;
    margin-top: 2rem;
  } 

  /*#projects h2{

  }*/
} 